{% extends "base.html" %}
{% block content %}
		<h1 style="border-left:4px solid Tomato; padding: 10px;">
			ВОТ ОН, ВРАГ РОССИИ, ЗАПОМНИТЕ ЭТО ЛИЦО!
		</h1>
		
		<img src="{{ url_for('static', filename='kirill.jpg') }}" class="rounded" style="width:200px;height:200px;border:0;" alt="УЖАС">

		<a href="https://vk.com/id575069028" target="_blank">
			&#8592; УПАСИ БОЖЕ ОТ ТАКОГО!!!
		</a>

		<br><br><b>
			МОЛИТВА ГОСПОДУ БОГУ НАШЕМУ ДЛЯ СПАСЕНИЯ ОТ ИРОДА ОКАЯННОГО:
		</b>

		<p>
		<strong>Господи,</strong> помилуй, сохрани нас от кринжапостера окаянного.<br>
		<strong>Господи,</strong> приди к нам на помощь, к рабам твоим непонимающим.<br>
		<strong>Господи,</strong> в мире ты властвуешь, так спаси же душу всей конфы от промыслов Кирилла, ибо мы, рабы твои, не выносим мук,<strong> Господи!</strong>
		</p>
		 
		<h2 style="border-left:4px solid Orange; padding: 7px;">
			ПЕДИК ПИДАРОК ПИДАРАС А ЕЩЁ ГОМОСЕКСУАЛИСТ И ПРОСТО УЕБАН
		</h2>

		<p><b>
			ПОМЕНЯТЬ ИМЯ ЧМА В СООБЩЕНИЯХ:
		</p></b>

		<p>
			Просто как <b>A, B, C.</b><br> 
			Всё что вам нужно, так это скачать <a href="{{ addon[browser]}}" target="_blank">
				РАСШИРЕНИЕ
			</a><br>
			Далее открываем ВК, запускаем расширение и вставляем 
			в появившемся окошке этот код:
			<div style="border:2px solid Green; padding: 7px;">div[data-peer="575069028"]<br> .im-mess-stack--content .im-mess-stack--info<br> .im-mess-stack--pname .im-mess-stack--lnk <br>{<br>
    		visibility: hidden;<br>
}<br>
div[data-peer="575069028"] .im-mess-stack--content <br>.im-mess-stack--info .im-mess-stack--pname <br>.im-mess-stack--lnk:before<br> {<br>
    content: "Чмо Местное";<br>
    visibility: visible;<br>
}
{% endblock %}
