{% extends "base.html" %}
{% block content %}
		<h1 style="border-left:4px solid violet; padding: 10px;">
			ЯКХЕННИ, ЯКХЕКХЕКХЕННИ, ЯША, СУМАСШЕДШИЙ ВИНДУЗЯТНИК
		</h1>
		
		<img src="/static/specialpersons/yahenni/yahenni.jpg" class="border rounded img-thumbnail" style="width:200px;height:300px;border:0;"
		onclick="window.open(src, '_blank')" alt="ЯЖКА">

		<br><br><b>
			Кто такой? Чем знаменит?
		</b>

		<p>
		Живёт в конфе с незапамятных времён, за это время сменил всего одну страницу, и то только из за бана предыдущей.<br>
		Сам о себе пишет просто: я Яхенни. Но мы то знаем, что на самом деле его имя пишется ни как иначе, как Якхенни, что подтверждает английская версия ВКонтакте.<br>Любит обмазываться аниме картинками, играет на ПК в <strong>игрушки</strong>.
		<br>Получил прозвище <strong>сумасшедший виндузятник</strong> за свою иррациональную ненависть к операционной системе GNU/Linux.<br>
		Был даже создан паблик <strong>«Аниме девочки против линуксоёбов»</strong> под его началом.<br>
		Постили там в основном какие то смешные картинки, оскорбляющие linux.<br>
		Состояние паблика на данный момент: <strong>Мёртв. Полностью.</strong> Последний пост датируется 1-м декабря 19-го года.
		</p>
		<b>Состояние на текущий момент</b>
		<p>
			Активничает в полный рост. Занял пост вертухая в новой конфе, объединив две конфы в одну.<br>
			Котирует 2d трапов, кидает фотографии своей кошки, носит чулки.<br>
			В общем, всё то, что делают обычные люди. В последнее время занялся рисованием, выходит очень даже, для начала.<br>

		</p><br>
		<b>Ссылки:</b>
		<p>
			<ul>
			<li><a class="active" href="https://vk.com/yahennii" target="_blank">
					Основная страница
			</a></li>
			<li><a class="active" href="https://vk.com/yahenni" target="_blank">
					Прошлая страница
			</a></li>
			<li><a class="active" href="https://vk.com/kot4646" target="_blank">
					Фейк
			</a></li>
			<li><a class="active" href="https://vk.com/linuxsosat" target="_blank">
					Альянс 2д девочек против линуксоёбов
			</a></li>
		</ul>
		</p>
{% endblock %}
