{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field %}

{% block style %}

{% endblock style %}
{% block content %}
<form method="post">
{{ form.hidden_tag(form.csrf_token, form.hash, form.username) }}
<div class="row">
	<div class="col-sm-8">
		{{ render_field(form.username) }}
		{{ render_field(form.section) }}
		{{ render_field(form.password) }}
		{{ render_field(form.confirm) }}
	</div>
	<div class="col-sm-4">
		<div class="card" style="width:100%; margin-top:30px;">
			<div class="card-header">
				<img id="captcha-img" src="" alt="captcha" class="img-thumbnail mx-auto d-block">
			</div>
			<div class="card-body">
				<h5>Капча: </h5>
				<div class="form-group">
					<input name="input" type="text" value="" class="form-control" id="captcha-text" required maxlength="6" minlength="6">
					<div class="invalid-feedback" id="captcha-feedback">Пожалуйста, введите капчу</div>
				</div>
				<div role="group" class="btn-group d-flex justify-content-center">
					<button type="button" id="captcha-validate" class="btn btn-primary" required>Проверить</button>
					<button type="button" id="captcha-refresh" class="btn btn-success">Обновить</button>
				</div>
			</div>
		</div>
	</div>
</div>
{{ render_field(form.title) }}
{{ render_field(form.description) }}
{{ render_field(form.data) }}
{{ render_field(form.submit) }}
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/captcha.js') }}">
{% endblock %}

